{%extends 'home.html'%}

{% block content %}

<br>

<h1>Capturing feeds!</h1>

<br>
<br>
<hr>
<br>

{% if msg%}
<p id="error">{{msg}}</p>
{%endif%}

<form method="POST" action="{%url 'train' %}">
    {%csrf_token%}
        <input onclick="start_train()" class="btn btn-primary" type="submit" value="Train the model!" />
    
</form>

<br>
<hr>
<br>

<form method="POST" action="{%url 'start' %}">
    {%csrf_token%}
        <input class="btn btn-primary" type="submit" value="Start feed Capture!" />
    
</form>
This will open the live feed in your browser. Leaving that page ends the capture.

<br>
<hr>
<a href="{%url 'feed-detect'%}">Go back..</a>
{%endblock%}